p{
    color: rgb(148, 179, 134);
}
.classdemo{
    color: rgb(33, 78, 201);
}
.classdemo1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 20px;
    color: navy;
}
#demoid{
    color: red;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#id_main_img{
    height: 400px;
    width: 400px;
    border-radius: 8px;
}
